# vim: set syntax=yaml:

version: '3.6'

services:

  # note: this is not actually a service, we intend to run it only `docker-compose run`
  nosetests:

    image: "opertusmundi/transport-service:${VERSION}-testing"
    build:
      context: .
      dockerfile: testing.dockerfile
      args:
        VERSION: "${VERSION}"

    command: ['-v']

    volumes:
    - type: 'bind'
      source: .
      target: '/work'

    working_dir: /work
    user: "1000:1000"

    networks:
    - 'opertusmundi_network'

    environment:
      VALHALLA_URL: ''

networks:
  opertusmundi_network:
    external: true
